---
/**
 * StickyHeader Component
 *
 * Elegant glass-style sticky header with fade edges on scroll.
 * Clean, modern design following brand guidelines.
 */
import { company, mainNavigation } from "@/data";
import ElegantNavbar from "./aceternity/ElegantNavbar";
---

<header class="header-wrapper">
  <ElegantNavbar
    client:load
    companyName={company.name}
    phone={company.phone}
    phoneHref={company.phoneHref}
    navItems={mainNavigation}
  />
  <!-- Spacer to account for fixed header -->
  <div class="h-20"></div>
</header>
